---
layout: layouts/base.njk
---

<style>
  main {
    background: white;
  }

  .newsletter-title {
    color: white;
    margin-bottom: 0;
    transition: all 0.1s linear;
  }

  .newsletter-title a {
    text-decoration: none;
    color: inherit;
    display: block;
  }

  .newsletter-title:hover {
    transform: rotate(-2deg);
  }

  h1 {
    margin-top: 0;
    padding-top: 0;
    color: var(--color-theme);
  }

  .container--text {
    max-width: 45rem;
    padding-top: 2rem;
  }

  .container--text p:has(img) {
    width: calc(100vw - calc(var(--horizontal-padding) * 2));
    transform: translateX(var(--horizontal-padding));
    margin-left: calc(-1 * var(--horizontal-padding));
    margin-top: calc(var(--horizontal-padding) / 2);
    margin-bottom: calc(var(--horizontal-padding) / 2);
  }

  .container--text a {
    text-decoration-thickness: 1px;
  }

  .footer {
    padding-top: 50px;
    padding-bottom: 80px !important;
  }

  .container--dark:nth-child(3) {
    padding-bottom: 50px;
  }

  .container--dark:last-child {
    padding-top: 40px;
    margin-top: 0;
    border-top: 1px solid var(--color-gray);
  }

  .date {
    font-size: var(--text-size);
    opacity: 0.4;
    text-transform: lowercase;
    font-variant: small-caps;
  }
</style>

<main>
  <header class="container container--dark">
    <div class="newsletter-title">
      <a href='/'>How Not To Make a Book</a>
    </div>
    <h1>{{title}}</h1>
  </header>
  <div class="container container--text">
    {{ content | safe }}

      <div class="date">
      — <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time> 
    </div>
  </div>

  <div class="container container--dark footer">
    <p class="intro">How do you self publish a book in 2022? That’s what this newsletter by me, <a href="https://robinrendle.com">Robin Rendle</a>, hopes to figure out. Each week there’ll be drama! Failure! Anxiety! Jokes! Revenge! And, of course, books.</p>

      <form
        action="https://buttondown.email/api/emails/embed-subscribe/hownottomakeabook"
        method="post"
        target="popupwindow"
        onsubmit="window.open('https://buttondown.email/hownottomakeabook', 'popupwindow')"
        class="form"
      >
        <input
          type="email"
          name="email"
          id="bd-email"
          placeholder="Email address"
          class="email"
          data-lpignore="true"
        />
        <input class="button" type="submit" value="Subscribe" />
      </form>
  </div>
</main>