---
layout: layouts/base.njk
---

<main>

  <div class="newsletter-title">
    <a href='/'>How Not To Make a Book</a>
  </div>

  <div class="container container--text">
    <h1 class="h1">{{title}}</h1>
    <div class="date">
      — <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time> 
    </div>
    {{ content | safe }}

    <div class="pagination">
      {% set previousPost = collections.notes | getPreviousCollectionItem(post) %}
      {% if previousPost %}↤ <a href="{{ previousPost.url }}">Previous</a>{% endif %}
    </div>
  </div>


  <div class="container--dark footer">
    <div class="container--text">
      <p>How do you self publish a book in 2022? That’s what this newsletter by me, <a href="https://robinrendle.com">Robin Rendle</a>, hopes to figure out. Each week there’ll be drama! Failure! Jokes! Revenge! And, of course, books.</p>

      <form
        action="https://buttondown.email/api/emails/embed-subscribe/hownottomakeabook"
        method="post"
        target="popupwindow"
        onsubmit="window.open('https://buttondown.email/hownottomakeabook', 'popupwindow')"
        class="form"
      >
        <input
          type="email"
          name="email"
          id="bd-email"
          placeholder="Email address"
          class="email"
          data-lpignore="true"
        />
        <input class="button" type="submit" value="Subscribe" />
      </form>
    </div>
  </div>
</main>

